<form [formGroup]="userform" (ngSubmit)="onSubmit()" #f="ngForm">
  <!-- {{InputProps | json}} -->
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

      <div class="ui-grid-row">
          <mat-input-container>
            <input matInput type="text" placeholder="displayName" [formControl]="userform.controls['displayName']" [(ngModel)]="inputProps.displayName">
            <mat-error *ngIf="!userform.controls['displayName'].valid&&userform.controls['displayName'].dirty">
              Input name is <strong>required</strong>
            </mat-error>
          </mat-input-container>
        </div>

    <div class="ui-grid-row">
      <mat-input-container>
        <input matInput type="text" placeholder="FileName" [formControl]="userform.controls['name']" [(ngModel)]="inputProps.name">
        <mat-error *ngIf="!userform.controls['name'].valid&&userform.controls['name'].dirty">
          Input name is <strong>required</strong>
        </mat-error>
      </mat-input-container>
    </div>

    <div class="ui-grid-row">
      <mat-checkbox [formControl]="userform.controls['collector']" (change)="onCheckboxToggle()" [(ngModel)]="inputProps.collector">Collector port</mat-checkbox>
      <!-- <mat-input-container>
        <input matInput type="text" placeholder="collector" [formControl]="userform.controls['collector']" [(ngModel)]="inputProps.collector">
        <mat-error *ngIf="!userform.controls['collector'].valid&&userform.controls['collector'].dirty">
          Name is <strong>required</strong>
        </mat-error>
      </mat-input-container> -->
    </div>

    <div class="ui-grid-row">
      <mat-input-container>
        <input matInput type="text" placeholder="format" [formControl]="userform.controls['format']" [(ngModel)]="inputProps.format">
        <mat-error *ngIf="!userform.controls['format'].valid&&userform.controls['format'].dirty">
          Name is <strong>required</strong>
        </mat-error>
      </mat-input-container>
    </div>

    <div class="ui-grid-row" *ngIf="!readOnly">
      <button pButton type="submit" label="Save" [disabled]="!userform.valid"></button>
    </div>

  </div>
</form>
