<div *ngFor="let entry of workflowEntries">
  {{entry.name}}
</div>

<p-dataTable [value]="workflowEntries" expandableRows="true">
  <!-- <p-column expander="true" styleClass="col-icon"></p-column> -->
  <p-column field="name" [sortable]="true" header="Name"></p-column>
  <p-column field="description" header="Description"></p-column>
  <p-column field="edit" header="Actions">
    <ng-template let-entry="rowData" pTemplate="body">
      <button type="button" pButton (click)="editEntry(entry.$key)" icon="fa-check"></button>
    </ng-template>
  </p-column>

  <!-- useful for expanding -->

  <!-- <ng-template let-entry pTemplate="rowexpansion">
    <p-dataTable [value]="workflowEntries" expandableRows="true">
      <p-column expander="true" styleClass="col-icon"></p-column>
      <p-column field="name" [sortable]="true" header="Name"></p-column>
      <p-column field="description" header="Description"></p-column>
      <p-column field="edit">
        <ng-template let-entry="rowData" pTemplate="body">
          <button type="button" pButton (click)="editEntry(entry.$key)" icon="fa-check"></button>
        </ng-template>
      </p-column>
      <ng-template let-entry pTemplate="rowexpansion">
          <p-dataTable [value]="workflowEntries" expandableRows="true">
              <p-column expander="true" styleClass="col-icon"></p-column>
              <p-column field="name" [sortable]="true" header="Name"></p-column>
              <p-column field="description" header="Description"></p-column>
              <p-column field="edit">
                <ng-template let-entry="rowData" pTemplate="body">
                  <button type="button" pButton (click)="editEntry(entry.$key)" icon="fa-check"></button>
                </ng-template>
              </p-column>
              <ng-template let-entry pTemplate="rowexpansion">
                {{entry}}
              </ng-template>
            </p-dataTable>
      </ng-template>
    </p-dataTable>
  </ng-template> -->

</p-dataTable>
