<form [formGroup]="userform" (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="ui-grid ui-grid-responsive ui-grid-pad" style="margin: 10px 0px">

    <!-- {{OutputProps | json}} -->

    <div class="ui-grid-row">
      <md-input-container>
        <input mdInput type="text" placeholder="DisplayName" [formControl]="userform.controls['displayName']" [(ngModel)]="outputProps.displayName">
        <md-error *ngIf="!userform.controls['displayName'].valid&&userform.controls['displayName'].dirty">
          Name is <strong>required</strong>
        </md-error>
      </md-input-container>
    </div>

    <div class="ui-grid-row">
      <md-input-container>
        <input mdInput type="text" placeholder="name" [formControl]="userform.controls['name']" [(ngModel)]="outputProps.name">
        <md-error *ngIf="!userform.controls['name'].valid&&userform.controls['name'].dirty">
          Name is <strong>required</strong>
        </md-error>
      </md-input-container>
    </div>

    <div class="ui-grid-row">
      <md-input-container>
        <input mdInput type="text" placeholder="Target Name" [formControl]="userform.controls['targetname']" [(ngModel)]="outputProps.targetname">
        <md-error *ngIf="!userform.controls['targetname'].valid&&userform.controls['targetname'].dirty">
          Executable name is <strong>required</strong>
        </md-error>
        <!-- <md-hint align="start"><strong>something</strong></md-hint> -->
      </md-input-container>
    </div>

    <div class="ui-grid-row">
      <md-input-container>
        <input mdInput type="text" placeholder="Target IP" [formControl]="userform.controls['targetip']" [(ngModel)]="outputProps.targetip">
        <md-error *ngIf="!userform.controls['targetip'].valid&&userform.controls['targetip'].dirty">
          Executable name is <strong>required</strong>
        </md-error>
        <!-- <md-hint align="start"><strong>something</strong></md-hint> -->
      </md-input-container>
    </div>

    <div class="ui-grid-row">
      <md-input-container>
        <input mdInput type="text" placeholder="Target Port" [formControl]="userform.controls['targetport']" [(ngModel)]="outputProps.targetport">
        <md-error *ngIf="!userform.controls['targetport'].valid&&userform.controls['targetport'].dirty">
          Executable name is <strong>required</strong>
        </md-error>
        <!-- <md-hint align="start"><strong>something</strong></md-hint> -->
      </md-input-container>
    </div>

    <div class="ui-grid-row">
      <md-checkbox [formControl]="userform.controls['isGenerator']" (change)="onCheckboxToggle()" [(ngModel)]="outputProps.isGenerator">Generator port</md-checkbox>
      <!-- <md-input-container>


        <input mdInput type="text" placeholder="Generator port" [formControl]="userform.controls['isGenerator']" [(ngModel)]="outputProps.isGenerator">
        <md-error *ngIf="!userform.controls['isGenerator'].valid&&userform.controls['isGenerator'].dirty">
          Executable name is <strong>required</strong>
        </md-error>
        <! <md-hint align="start"><strong>something</strong></md-hint> >
      </md-input-container> -->
    </div>
    <br>

    <div class="ui-grid-row">
      <md-select placeholder="Distribution" [formControl]="userform.controls['distribution']" [(ngModel)]="outputProps.distribution"
        floatPLaceholder="never">
        <md-option *ngFor="let dist of distributionTypes | keys" [value]="dist.value">
          {{dist.value}}
        </md-option>
      </md-select>
    </div>
    <br>

    <div class="ui-grid-row">
      <md-input-container>
        <input mdInput type="text" placeholder="Filter RegExp" [formControl]="userform.controls['filter']" [(ngModel)]="outputProps.filter">
        <md-error *ngIf="!userform.controls['filter'].valid&&userform.controls['filter'].dirty">
          Executable name is <strong>required</strong>
        </md-error>
        <!-- <md-hint align="start"><strong>something</strong></md-hint> -->
      </md-input-container>
    </div>



    <!-- {{distributions | keys | json }} -->


    <br>

    <div class="ui-grid-row" *ngIf="!readOnly">
      <button pButton type="submit" label="Submit" [disabled]="!userform.valid"></button>
    </div>

  </div>
</form>
