<form [formGroup]="userform" #f="ngForm">
  <div class="ui-grid ui-grid-responsive ui-grid-pad" style="margin: 10px 0px">

    <!-- {{isExistingNode}} -->

    <div class="ui-grid-row">
      <mat-input-container>
        <input matInput type="text" placeholder="Name" [formControl]="userform.controls['name']" [(ngModel)]="nodeProps.name">
        <mat-error *ngIf="!userform.controls['name'].valid&&userform.controls['name'].dirty && !userform.controls['name'].hasError('nodeNameExist')">
          Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="!userform.controls['name'].valid&&userform.controls['name'].dirty&&userform.controls['name'].hasError('nodeNameExist')">
          Entered name is already <strong>taken</strong>
          </mat-error>
      </mat-input-container>
    </div>

    <div class="ui-grid-row">
      <mat-input-container>
        <input matInput type="text" placeholder="Executable Name" [formControl]="userform.controls['execname']" [(ngModel)]="nodeProps.execname">
        <mat-error *ngIf="!userform.controls['execname'].valid&&userform.controls['execname'].dirty">
          Executable name is <strong>required</strong>
        </mat-error>

        <!-- <mat-hint align="start"><strong>something</strong></mat-hint> -->
      </mat-input-container>
    </div>

    <div class="ui-grid-row">
      <mat-input-container>
        <input matInput type="text" placeholder="Arguments" [formControl]="userform.controls['args']" [(ngModel)]="nodeProps.args">
        <!-- <mat-hint align="start"><strong>something</strong></mat-hint> -->
      </mat-input-container>
    </div>

    <div class="ui-grid-row">
      <mat-input-container>
        <input matInput type="text" placeholder="Executable URL" [formControl]="userform.controls['execurl']" [(ngModel)]="nodeProps.execurl">
      </mat-input-container>
    </div>

    <div class="ui-grid-row">
      <mat-input-container>
        <input matInput type="number" placeholder="MinScale" min="1" [formControl]="userform.controls['scalingmin']" [(ngModel)]="nodeProps.scalingmin">
      </mat-input-container>
    </div>

    <div class="ui-grid-row">
      <mat-input-container>
        <input matInput type="number" placeholder="MaxScale" min="1" [formControl]="userform.controls['scalingmax']" [(ngModel)]="nodeProps.scalingmax">
      </mat-input-container>
    </div>


    <div class="ui-grid-row">
      <button *ngIf=" !readOnly && isExistingNode" pButton type="submit" label="Update Node" (click)="onUpdate()" [disabled]="!userform.valid"></button>
      <button *ngIf=" !readOnly && isExistingNode" pButton type="submit" label="Clone Node" (click)="onClone()" [disabled]="!userform.valid"></button>
      <button *ngIf="!isExistingNode" pButton type="submit" label="Create Node" (click)="onCreate()" [disabled]="!userform.valid"></button>
    </div>

  </div>
</form>
